#point input {
  margin: 3px;
  width: 30px;
  padding: 5px;
  border: 2px solid #5d5db6;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.invalid {
  background-color: rgba(255, 0, 0, 0.356);
}
